/* line 12, ../../app/assets/stylesheets/forem-basic.css.scss */
body {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
  color: black;
}

/* line 18, ../../app/assets/stylesheets/forem-basic.css.scss */
#forum h2 {
  margin-bottom: 0;
}
/* line 20, ../../app/assets/stylesheets/forem-basic.css.scss */
#forum h2 a {
  text-decoration: none;
  color: black;
}
/* line 25, ../../app/assets/stylesheets/forem-basic.css.scss */
#forum .description {
  color: #777777;
  font-style: oblique;
}
/* line 29, ../../app/assets/stylesheets/forem-basic.css.scss */
#forum menu {
  background-color: #bbbbbb;
  margin-left: 0;
  padding-left: 0;
}
/* line 33, ../../app/assets/stylesheets/forem-basic.css.scss */
#forum menu a {
  padding: .5em;
  display: inline-block;
  color: black;
  text-decoration: none;
  margin: 0;
}
/* line 38, ../../app/assets/stylesheets/forem-basic.css.scss */
#forum menu a:hover {
  background-color: #aaaaaa;
}

/* line 47, ../../app/assets/stylesheets/forem-basic.css.scss */
#topic h2 {
  padding: .5em;
  position: relative;
  background-color: #333333;
  color: white;
  margin: 0;
}
/* line 53, ../../app/assets/stylesheets/forem-basic.css.scss */
#topic h2 a {
  margin-right: 1em;
  font-weight: normal;
  position: absolute;
  right: 0;
  padding: .5em;
  background-color: #fff;
  font-size: .5em;
  text-decoration: none;
}
/* line 62, ../../app/assets/stylesheets/forem-basic.css.scss */
#topic h2 a:hover {
  background-color: #eeeeee;
}

/* line 70, ../../app/assets/stylesheets/forem-basic.css.scss */
#posts .post {
  clear: both;
  position: relative;
}
/* line 73, ../../app/assets/stylesheets/forem-basic.css.scss */
#posts .post .user {
  float: left;
  font-size: .75em;
  width: 140px;
  display: inline-block;
}
/* line 78, ../../app/assets/stylesheets/forem-basic.css.scss */
#posts .post .user .username {
  font-weight: bold;
}
/* line 81, ../../app/assets/stylesheets/forem-basic.css.scss */
#posts .post .user .icon {
  background: transparent url(http://placekitten.com/50/50) no-repeat;
  width: 50px;
  height: 50px;
  display: inline-block;
}
/* line 87, ../../app/assets/stylesheets/forem-basic.css.scss */
#posts .post .user .member-for {
  width: 80px;
  display: inline-block;
}
/* line 92, ../../app/assets/stylesheets/forem-basic.css.scss */
#posts .post .contents {
  margin-left: 160px;
  min-height: 100px;
  border-left: 1px solid #bbbbbb;
  padding: .1em 1em;
}
/* line 98, ../../app/assets/stylesheets/forem-basic.css.scss */
#posts .post .contents time {
  color: #777777;
  margin-bottom: 1em;
  font-size: .7em;
  line-height: 18px;
}
/* line 104, ../../app/assets/stylesheets/forem-basic.css.scss */
#posts .post .contents .text {
  margin-right: 100px;
}
/* line 107, ../../app/assets/stylesheets/forem-basic.css.scss */
#posts .post .contents .actions {
  position: absolute;
  right: 10px;
  bottom: 0;
  list-style-type: none;
}
/* line 113, ../../app/assets/stylesheets/forem-basic.css.scss */
#posts .post .contents .actions li a {
  text-align: center;
  display: block;
  text-decoration: none;
  padding: .25em;
  margin-bottom: .25em;
  color: black;
  background-color: #bbbbbb;
}
/* line 121, ../../app/assets/stylesheets/forem-basic.css.scss */
#posts .post .contents .actions li a:hover {
  background-color: #aaaaaa;
}

/* line 131, ../../app/assets/stylesheets/forem-basic.css.scss */
.even {
  background-color: #eeeeee;
}

/* line 135, ../../app/assets/stylesheets/forem-basic.css.scss */
table.topics {
  width: 100%;
}
/* line 137, ../../app/assets/stylesheets/forem-basic.css.scss */
table.topics td, table.topics th {
  padding: .5em;
}
/* line 141, ../../app/assets/stylesheets/forem-basic.css.scss */
table.topics thead th {
  background-color: #bbbbbb;
  font-weight: normal;
  text-align: left;
}
/* line 149, ../../app/assets/stylesheets/forem-basic.css.scss */
table.topics tbody .subject a {
  text-decoration: none;
}
/* line 151, ../../app/assets/stylesheets/forem-basic.css.scss */
table.topics tbody .subject a:visited {
  color: black;
}
/* line 154, ../../app/assets/stylesheets/forem-basic.css.scss */
table.topics tbody .subject a:hover {
  text-decoration: underline;
}
/* line 159, ../../app/assets/stylesheets/forem-basic.css.scss */
table.topics tbody .started-by {
  font-size: .7em;
  color: #777777;
}
/* line 163, ../../app/assets/stylesheets/forem-basic.css.scss */
table.topics tbody .latest-post {
  font-size: .7em;
  width: 80px;
}
/* line 167, ../../app/assets/stylesheets/forem-basic.css.scss */
table.topics tbody .posts-count, table.topics tbody .views-count {
  font-size: .8em;
  width: 80px;
}
