$light-bg1: #eee;
$bar1-topbg: #eee;
$bar1-midbg: #bbb;
$bar1-bottombg: #aaa;
$lighter-text: #777;
$default-text: #000;

body{
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
  color: $default-text;
}

#forum{
  h2{
    margin-bottom: 0;
    a{
      text-decoration: none;
      color: $default-text;
    }
  }
  .description{
    color: $lighter-text;
    font-style: oblique;
  }
  menu{
    background-color: $bar1-midbg;
    margin-left: 0;
    padding-left: 0;
    a{
      padding: .5em;
      display: inline-block;
      color: $default-text;
      text-decoration: none;
      &:hover{
        background-color: $bar1-bottombg;
      }
      margin: 0;
    }
  }
}

#topic{
  h2{
    padding: .5em;
    position: relative;
    a{
      position: absolute;
      right: 0;
      padding: .5em;
    }
  }
}

#posts{
  .post{
    .user{
      font-size: .75em;
      width: 140px;
      display: inline-block;
      .username{
        font-weight: bold;
      }
      .icon{
        background: transparent url(http://placekitten.com/50/50) no-repeat;
        width: 50px;
        height: 50px;
        display: inline-block;
      }
      .member-for{
        width: 80px;
        display: inline-block;
      }
    }
    .text{
      display: inline-block;
    }
    .actions{
      width: 100px;
      display: inline-block;
    }
  }
}

.even{
  background-color: $light-bg1;
}

table.topics{
  width: 100%;
  td, th{
    padding: .5em;
  }
  thead{
    th{
      background-color: $bar1-midbg;
      font-weight: normal;
      text-align: left;
    }
  }
  tbody{
    .subject{
      a{
        text-decoration: none;
        &:visited{
          color: $default-text;
        }
        &:hover{
          text-decoration: underline;
        }
      }
    }
    .started-by{
      font-size: .7em;
      color: $lighter-text;
    }
    .latest-post{
      font-size: .7em;
      width: 80px;
    }
    .posts-count, .views-count{
      width: 80px;
    }
  }
}
